/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, sans-serif;
}

* Header */
header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    
    a{
        img {
            width: 34px;
            padding: 2px;
            border-radius: 25px;
            border: 1px solid black;
        }
        
    }


    .img-logo{
        width: 100px;

    }

    .div-logo{
        display: flex;
        align-items: center;
    }
}

.body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}


.container {
    padding: 20px;
    border-radius: 8px;
}

.logo{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

h1{
    padding-bottom: 10px;
}

form{
    width: 50vw;

}


input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
} 

.buttonForm{
    background-color: rgb(49, 48, 48);
    padding: 10px;
    width: 50vw;
    color: #e4e2e2;
    border-radius: 4px;
    font-size: 14pt;
}

   
/* Main */

main {
    padding: 1rem;

    h2{
        margin-bottom: 10px;
    }
}

.project {
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(2, 2, 2, 0.3);
    margin-bottom: 1rem;
    border-radius: 10px;
    gap: 4rem;
    padding: 4px;
    
}

.project img{
    width: 250px;
    height: auto;
}


.about{

}